<div class="container">
  <div class="row">
    <div class="card m-auto col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
      <div class="card-body">
        <form>
          <h3 class="card-title text-center">INSCRIPTION</h3>
          <div class="form-group">
            <label for="pseudo">Pseudonyme</label>
            <div class="inner-addon left-addon">
              <i class="inner-icon fas fa-user"></i> <input type="text" id="pseudo" class="form-control" required placeholder="" />
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <div class="inner-addon left-addon">
              <i class="inner-icon fas fa-envelope"></i> <input type="email" id="email" class="form-control" required placeholder="" />
            </div>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <div class="inner-addon left-addon">
              <i class="inner-icon fas fa-lock"></i> <input type="password" id="password" class="form-control" required placeholder="" />
            </div>
          </div>
          <div class="form-group">
            <label for="passwordConf">Confirmation de mot de passe</label>
            <div class="inner-addon left-addon">
              <i class="inner-icon fas fa-lock"></i>
              <input type="password" class="form-control" id="passwordConf" required placeholder="" />
            </div>
          </div>
          <div *ngIf="signupInvitationCode === true" class="form-group">
            <label for="invitationCode">Code d'invitation</label>
            <div class="inner-addon left-addon">
              <i class="inner-icon fas fa-envelope-open-text"></i>
              <input type="text" class="form-control" id="invitationCode" required placeholder="" />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Inscription</button>
        </form>
      </div>
    </div>
  </div>
</div>
