<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <div class="card">
        <div class="card-body p-0">
          <form>
            <h3 class="card-title ">Inscription</h3>
            <div class="form-group">
              <label for="pseudo" class="hovered-focused">Pseudonyme</label>
              <div class="inner-addon left-addon hovered-focused">
                <i class="inner-icon hovered-focused fas fa-user"></i>
                <input type="text" id="pseudo" class="form-control" required placeholder="Ton nom de joueur" />
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="hovered-focused">Email</label>
              <div class="inner-addon left-addon">
                <i class="inner-icon hovered-focused fas fa-envelope"></i>
                <input type="email" id="email" class="form-control" required placeholder="Ton mail de contact" />
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="hovered-focused">Mot de passe</label>
              <div class="inner-addon left-addon">
                <i class="inner-icon hovered-focused fas fa-lock"></i>
                <input type="password" id="password" class="form-control" required placeholder="Mot de passe" />
              </div>
              <div class="inner-addon left-addon">
                <i class="inner-icon hovered-focused fas fa-lock"></i>
                <input type="password" class="form-control" id="passwordConf" required placeholder="Confirmation de mot de passe" />
              </div>
            </div>
            <div *ngIf="signupInvitationCode === true" class="form-group">
              <label for="invitationCode" class="hovered-focused">Code d'invitation</label>
              <div class="inner-addon left-addon">
                <i class="inner-icon hovered-focused fas fa-envelope-open-text"></i>
                <input type="text" class="form-control" id="invitationCode" required placeholder="Ton code d'invitation" />
              </div>
            </div>
            <div class="card-buttons"><button type="submit" class="btn btn-primary w-100">Inscription</button></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col d-none d-lg-block">
      <div class="card tuto h-100">
        <div class="card-body">
          <h3 class="card-title">Le principe de Pronofoot Bet</h3>
          <div>
            <div class="row">
              <span class="col">
                <p class="text-justify">
                  <img src="../../../assets/img/bet.jpg" class="float-left mr-3" /> Suis les côtes en direct et analyse les matchs de Ligue 1 de la
                  semaine, afin de trouver les bons paris.
                </p>
              </span>
            </div>
            <div class="row">
              <span class="col">
                <p class="text-justify">
                  <img src="../../../assets/img/grid.png" class="float-left mr-3" /> Remplis ta grille, en choisissant le résultat 1 N 2 ou en faisant
                  des combos de plusieurs matchs et choisis le montant de ta bankroll que tu souhaites parier.
                </p>
              </span>
            </div>
            <div class="row">
              <span class="col">
                <p class="text-justify">
                  <img src="../../../assets/img/defi.jpg" class="float-left mr-3" /> Défie un autre joueur à chaque journée. Le meilleur des deux sur
                  la journée remporte la moitié des gains de l'autre.
                </p>
              </span>
            </div>
            <div class="row">
              <span class="col">
                <p class="text-justify">
                  <img src="../../../assets/img/win.jpg" class="float-left mr-3" /> Bien joué nostradamus tu brilles au classement grâce a tes paris
                  (ou grâce à la chatte à Dédé) !!!
                </p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
