@import 'mixins';

$input-padding: 35px;

.btn {
  // Applies themes on possible buttons types
  @each $type in (primary, secondary, success, danger, warning, info, light, dark) {
    &.btn-#{$type} {
      @include background-color('btn-#{$type}-bg-color');
      @include border('btn-#{$type}-border');
      @include color('btn-#{$type}-color');

      &:hover {
        @include background-color('btn-#{$type}-hover-bg-color');
        @include border('btn-#{$type}-hover-border');
        @include color('btn-#{$type}-hover-color');
      }

      &:focus {
        @include background-color('btn-#{$type}-bg-color');
        @include border('btn-#{$type}-hover-border');
        @include box-shadow('btn-#{$type}-box-shadow');
      }
    }
  }
}

form {
  .form-group {
    // Adds coloring of label and inner icon of input filed when hovered or focused
    &:hover,
    &:focus-within {
      // Label
      label.hovered-focused {
        @include color('input-icon-focus-hover-color');
      }

      // Inner icon
      .inner-addon {
        .inner-icon.hovered-focused {
          @include color('input-icon-focus-hover-color');
        }
      }
    }

    // Includes an icon in an input field (on the left or right)
    .inner-addon {
      position: relative;

      +.inner-addon {
        margin-top: 1rem;
      }

      input {
        @include background-color('input-bg-color');
        @include border('input-border');
        @include color('input-color');

        @include placeholder {
          font-weight: lighter;
        }

        // Changes input colors when focused
        &:focus {
          @include background-color('input-focus-bg-color');
          @include border('input-focus-border');
          @include box-shadow('input-focus-box-shadow');
          @include color('input-focus-color');
        }
      }

      // Input inner icon
      .inner-icon {
        @include color('input-icon-color');
        padding: .7rem;
        pointer-events: none;
        position: absolute;
      }

      &.left-addon {
        .inner-icon {
          left: 0;
        }

        input {
          padding-left: $input-padding;
        }
      }

      &.right-addon {
        .inner-icon {
          right: 0;
        }

        input {
          padding-right: $input-padding;
        }
      }
    }
  }
}

// Default card
.card {
  @include background-color('bg-color');
  @include color('color');
  border: 0;
  border-radius: .5rem;
}
