// Extracts a property value from theme configuration
@function themed($key) {
  $theme-att: (
    bg-color: map-get($theme-map, 'bg'),
    color: map-get($theme-map, 'color'),
    btn-primary-bg-color: map-get($theme-map, 'primary-bg'),
    btn-primary-color: map-get($theme-map, 'primary-color'),
    btn-primary-hover-bg-color: unquote(map-get($theme-map, 'primary-bg') + map-get($theme-map, 'hover-transparency')),
    btn-primary-hover-color: map-get($theme-map, 'primary-color'),
    btn-primary-hover-border: 1px solid unquote(map-get($theme-map, 'primary-bg') + map-get($theme-map, 'hover-transparency')),
    btn-primary-box-shadow: 0 0 0 0.2rem unquote(map-get($theme-map, 'primary-bg') + map-get($theme-map, 'box-shadow-transparency')),
    btn-secondary-bg-color: map-get($theme-map, 'secondary-bg'),
    btn-secondary-color: map-get($theme-map, 'secondary-color'),
    btn-secondary-hover-bg-color: unquote(map-get($theme-map, 'secondary-bg') + map-get($theme-map, 'hover-transparency')),
    btn-secondary-hover-color: map-get($theme-map, 'secondary-color'),
    btn-secondary-hover-border: 1px solid unquote(map-get($theme-map, 'secondary-bg') + map-get($theme-map, 'hover-transparency')),
    btn-secondary-box-shadow: 0 0 0 0.2rem unquote(map-get($theme-map, 'secondary-bg') + map-get($theme-map, 'box-shadow-transparency')),
    btn-success-bg-color: map-get($theme-map, 'success-bg'),
    btn-success-color: map-get($theme-map, 'success-color'),
    btn-success-hover-bg-color: unquote(map-get($theme-map, 'success-bg') + map-get($theme-map, 'hover-transparency')),
    btn-success-hover-color: map-get($theme-map, 'success-color'),
    btn-success-hover-border: 1px solid unquote(map-get($theme-map, 'success-bg') + map-get($theme-map, 'hover-transparency')),
    btn-success-box-shadow: 0 0 0 0.2rem unquote(map-get($theme-map, 'success-bg') + map-get($theme-map, 'box-shadow-transparency')),
    btn-danger-bg-color: map-get($theme-map, 'danger-bg'),
    btn-danger-color: map-get($theme-map, 'danger-color'),
    btn-danger-hover-bg-color: unquote(map-get($theme-map, 'danger-bg') + map-get($theme-map, 'hover-transparency')),
    btn-danger-hover-color: map-get($theme-map, 'danger-color'),
    btn-danger-hover-border: 1px solid unquote(map-get($theme-map, 'danger-bg') + map-get($theme-map, 'hover-transparency')),
    btn-danger-box-shadow: 0 0 0 0.2rem unquote(map-get($theme-map, 'danger-bg') + map-get($theme-map, 'box-shadow-transparency')),
    btn-warning-bg-color: map-get($theme-map, 'warning-bg'),
    btn-warning-color: map-get($theme-map, 'warning-color'),
    btn-warning-hover-bg-color: unquote(map-get($theme-map, 'warning-bg') + map-get($theme-map, 'hover-transparency')),
    btn-warning-hover-color: map-get($theme-map, 'warning-color'),
    btn-warning-hover-border: 1px solid unquote(map-get($theme-map, 'warning-bg') + map-get($theme-map, 'hover-transparency')),
    btn-warning-box-shadow: 0 0 0 0.2rem unquote(map-get($theme-map, 'warning-bg') + map-get($theme-map, 'box-shadow-transparency')),
    btn-info-bg-color: map-get($theme-map, 'info-bg'),
    btn-info-color: map-get($theme-map, 'info-color'),
    btn-info-hover-bg-color: unquote(map-get($theme-map, 'info-bg') + map-get($theme-map, 'hover-transparency')),
    btn-info-hover-color: map-get($theme-map, 'info-color'),
    btn-info-hover-border: 1px solid unquote(map-get($theme-map, 'info-bg') + map-get($theme-map, 'hover-transparency')),
    btn-info-box-shadow: 0 0 0 0.2rem unquote(map-get($theme-map, 'info-bg') + map-get($theme-map, 'box-shadow-transparency')),
    btn-light-bg-color: map-get($theme-map, 'light-bg'),
    btn-light-color: map-get($theme-map, 'light-color'),
    btn-light-hover-bg-color: unquote(map-get($theme-map, 'light-bg') + map-get($theme-map, 'hover-transparency')),
    btn-light-hover-color: map-get($theme-map, 'light-color'),
    btn-light-hover-border: 1px solid unquote(map-get($theme-map, 'light-bg') + map-get($theme-map, 'hover-transparency')),
    btn-light-box-shadow: 0 0 0 0.2rem unquote(map-get($theme-map, 'light-bg') + map-get($theme-map, 'box-shadow-transparency')),
    btn-dark-bg-color: map-get($theme-map, 'dark-bg'),
    btn-dark-color: map-get($theme-map, 'dark-color'),
    btn-dark-hover-bg-color: unquote(map-get($theme-map, 'dark-bg') + map-get($theme-map, 'hover-transparency')),
    btn-dark-hover-color: map-get($theme-map, 'dark-color'),
    btn-dark-hover-border: 1px solid unquote(map-get($theme-map, 'dark-bg') + map-get($theme-map, 'hover-transparency')),
    btn-dark-box-shadow: 0 0 0 0.2rem unquote(map-get($theme-map, 'dark-bg') + map-get($theme-map, 'box-shadow-transparency')),
    input-bg-color: map-get($theme-map, 'input-bg'),
    input-color: map-get($theme-map, 'input-color'),
    input-border: 1px solid map-get($theme-map, 'input-bg'),
    input-focus-bg-color: map-get($theme-map, 'input-hover-focus-bg'),
    input-focus-color: map-get($theme-map, 'input-color'),
    input-focus-border: 1px solid map-get($theme-map, 'input-hover-focus-bg'),
    input-focus-box-shadow: none,
    input-icon-color: map-get($theme-map, 'input-color'),
    input-icon-focus-hover-color: map-get($theme-map, 'main'),
    navitem-focus-hover-color: map-get($theme-map, 'main'),
  );
  @return map-get($theme-att, $key);
}
