$themes-color: (
  default: (
    bg: #343a40,
    color: #fff,
    main: #4a8feb,
    primary-bg: #0062cc,
    primary-color: #fff,
    secondary-bg: #6c757d,
    secondary-color: #000,
    success-bg: #28a745,
    success-color: #fff,
    danger-bg: #dc3545,
    danger-color: #fff,
    warning-bg: #ffc107,
    warning-color: #212529,
    info-bg: #17a2b8,
    info-color: #fff,
    light-bg: #f8f9fa,
    light-color: #212529,
    dark-bg: #343a40,
    dark-color: #fff,
    input-bg: #cacaca,
    input-color: #000,
    input-hover-focus-bg: #fff,
    hover-transparency: '90',
    box-shadow-transparency: '80',
  ),
);
