$themes: (
  default: (
    bg-color: #343a40,
    color: #fff,
    btn-primary-bg-color: #0062cc,
    btn-primary-color: #fff,
    btn-primary-hover-bg-color: #0062cc90,
    btn-primary-hover-color: #fff,
    btn-primary-hover-border: 1px solid #034a96,
    btn-primary-box-shadow: 0 0 0 .2rem #0062cc80,
    btn-secondary-bg-color: #6c757d,
    btn-secondary-color: #000,
    btn-secondary-hover-bg-color: #6c757d90,
    btn-secondary-hover-color: #000,
    btn-secondary-hover-border: 1px solid #4b5157,
    btn-secondary-box-shadow: 0 0 0 .2rem #6c757d80,
    btn-success-bg-color: #28a745,
    btn-success-color: #fff,
    btn-success-border: 1px solid #28a745,
    btn-success-hover-bg-color: #28a745,
    btn-success-hover-color: #fff,
    btn-success-hover-border: 1px solid #125a22,
    btn-success-box-shadow: 0 0 0 .2rem #28a74580,
    btn-danger-bg-color: #dc3545,
    btn-danger-color: #fff,
    btn-danger-hover-bg-color: #dc3545,
    btn-danger-hover-color: #fff,
    btn-danger-hover-border: 1px solid #6d151e,
    btn-danger-box-shadow: 0 0 0 .2rem #dc354580,
    btn-warning-bg-color: #ffc107,
    btn-warning-color: #212529,
    btn-warning-hover-bg-color: #ffc107,
    btn-warning-hover-color: #212529,
    btn-warning-hover-border: 1px solid #6d560f,
    btn-warning-box-shadow: 0 0 0 .2rem #ffc10780,
    btn-info-bg-color: #17a2b8,
    btn-info-color: #fff,
    btn-info-hover-bg-color: #17a2b8,
    btn-info-hover-color: #fff,
    btn-info-hover-border: 1px solid #044c57,
    btn-info-box-shadow: 0 0 0 .2rem #17a2b880,
    btn-light-bg-color: #f8f9fa,
    btn-light-color: #212529,
    btn-light-hover-bg-color: #f8f9fa,
    btn-light-hover-color: #212529,
    btn-light-hover-border: 1px solid #bebebe,
    btn-light-box-shadow: 0 0 0 .2rem #21252980,
    btn-dark-bg-color: #343a40,
    btn-dark-color: #fff,
    btn-dark-hover-bg-color: #343a40,
    btn-dark-hover-color: #fff,
    btn-dark-hover-border: 1px solid #5b6064,
    btn-dark-box-shadow: 0 0 0 .2rem #343a4080,
    input-bg-color: #cacaca,
    input-color: #000,
    input-border: 1px solid #cacaca,
    input-focus-bg-color: #fff,
    input-focus-color: #000,
    input-focus-border: 1px solid #fff,
    input-focus-box-shadow: none,
    input-icon-color: #000,
    input-icon-focus-hover-color: #4a8feb,
    navitem-focus-hover-color: #4a8feb,
  ),
);
